@import url(https://fonts.googleapis.com/css?family=Righteous);

body,
html {
    width: 769px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background: #fcde85;
}

.g-container {
    font-size: 14px;
    padding-top: 45px;
}

.level,
.g-btn {
    margin-bottom: .5rem !important;
}

.level,
.g-list {
    padding: 4px;
}

.level {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fcde85;
}

.input.is-small, .textarea.is-small {
    font-weight: bold;
}